body{
  padding:0;
  margin:0;
  font-family: Tahoma, Genova, sans-serif;
}

header{
  background:#607F18;
  padding: 15px 0 20px 80px;
}

header h1{
  color:#FFF601;
  display: inline;
  margin-right: 20px;
}

header ul{
  margin: 0;
  padding: 0;
  display: inline;
}

header ul li{
  list-style-type: none;
  display: inline-block;
}

header a{
  text-decoration: none;
  color:#fff;
  font-size:18px;
  margin: 0 15px;
}

.banner-img{
  margin-top:30px;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

section{
  width:1200px;
  margin: 0 auto;
  text-align: center;
}

section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

section p{
  padding: 10px 20px 0 20px;
  font-size:16px;
}

section a{
  color:#fff;
  background:#607F18;
  text-decoration:none; 
  padding: 8px 32px;
  display: inline-block;
  margin: 15px 0 30px 0;
}

.section-left{
  background: #EFE7DA;
  width:580px;
  float: left;
  margin-right: 40px;
  margin-top:40px;
}

.section-right{
  background: #EFE7DA;
  width:580px;
  float: left;
  margin-top:40px;
}

.clear{
  clear: both;
}

footer{
  background: #607F18;
  text-align: center;
  color:#fff;
  clear: both;
  margin-top:40px;
  padding: 20px 0;

}